doctype html
html
  head
    title Clementine.js - The elegant and lightweight full-stack boilerplate.
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet', type='text/css')
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  header
    p
      | Welcome, 
      span#display-name
      | !
    a.menu(href='/profile') Profile
    p |
    a.menu(href='/logout') Logout
  body
    .container
      img(src='/public/img/clementine_150.png')
      br
      p.clementine-text Clementine.js
    .container
      p
        | You have clicked the button 
        span#click-nbr
        |  times.
      br
      .btn-container
        button.btn.btn-add(type='submit') CLICK ME!
        button.btn.btn-delete RESET
    script(type='text/javascript', src='/common/clientConfig.js')
    script(type='text/javascript', src='/common/ajax-functions.js')
    script(type='text/javascript', src='/controllers/clickController.client.js')
    script(type='text/javascript', src='/controllers/userController.client.js')
